.product {

    &__section {

        width: 100%;
    }

    &__lists {
        margin-bottom: 2rem;
        width: 100%;

    }

    &__item {
        width: 80%;
        margin: 0 auto 2rem;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: $default-font-size;

        &>* {
            margin-right: 1rem;
        }
    }


    &__nameValues {
        display: flex;
        text-align: center;
        justify-content: space-around;
        width: 50%;
        margin: 0 6rem;

        &>* {
            display: inline-block;
            font-size: 1.8rem;
            font-family: 'Lato-Bold';
            color: $color-gray;
        }

    }

    &__select {
        width: 10rem;
    }

}

.btn-product__group {
    text-align: center;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;


    .btn--click {
        background-color: $color-orange;
        padding: .8rem 1.2rem;
        border-radius: 10px;
        color: $color-gray;
        margin-right: 1rem;
    }
}

.creation-section__warning {
    text-align: center;
    font-size: 2rem;
    color: #F48982;
}